/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
storage/framework/sessions/*
/vendor
/uploads
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
storage/framework/sessions/2djR243FMsIuaDaHmFHsHcG2TOfp4fDIXbLqxP0f
